HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### Node JS ###
**/node_modules
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/compiler.xml
**/.idea/encodings.xml
**/.idea/misc.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

## Android Studio ##
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/misc.xml
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.cxx

grpc/
__pycache__